{
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "package.json",
      "options": {
        "useTabs": false,
        "parser": "json-stringify"
      }
    }
  ]
}